SECRET_KEY=<your_secret_key>
YANDEX_CLIENT_ID=ваш_client_id
YANDEX_CLIENT_SECRET=ваш_client_secret

# Получение YANDEX_CLIENT_ID и YANDEX_CLIENT_SECRET можно выполнить по ссылке:
# https://oauth.yandex.ru/client/new