:root {
    --primary-color: #ffffff;
    --secondary-color: #bebebe;
    --background-color: #000000;
    --page-background-color: #ffffff;

    --project-card-margin: 16px;
    --project-card-padding: 32px;
    --project-card-width: 512px;

    --title-font-size: 2rem;
    --title-font-weight: 600;
    --id-font-size: .9rem;
    --id-font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Material_Symbols_Sharp/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}

.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    user-select: none;
}

h1 {
    margin-bottom: 32px;
}

h2 {
    margin-bottom: 24px;
}