body {
    background-color: var(--page-background-color);
}

.projects {
    flex-wrap: wrap;
    gap: var(--project-card-margin);
    padding: var(--project-card-margin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--project-card-width), 1fr));
}

.project {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: var(--project-card-padding);
    height: max-content;
    min-height: 100px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.project h2 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.project a {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.project .description {
    font-size: .85rem;
    color: var(--secondary-color);
    /* margin-bottom: 12px; */
}

.tasks {
    margin-top: 48px;
}

.task {
    font-size: .7rem;
    font-weight: lighter;
    display: flex;
    margin-bottom: 2px;
    cursor: pointer;
    width: max-content;
}

.task.status-todo, .task.status-in_progress {
    color: var(--primary-color);
    opacity: .9;
}

.task.status-done {
    color: var(--primary-color);
    opacity: .6;
}

.task.status-done .material-symbols-sharp {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.new-project {
    cursor: pointer;
    padding: calc(var(--project-card-padding) / 2) var(--project-card-padding);
    min-height: unset;
}