body {
    background-color: var(--page-background-color);
    color: var(--primary-color);
}

.content {
    padding: 32px;
    background-color: var(--background-color);
}

.id-block {
    opacity: .5;
}

.info-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    margin-bottom: 48px;
}

.info-cell {
    border: var(--primary-color) 1px solid;
    padding: 28px;
}

.info-cell h2 {
    margin-bottom: 12px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.task {
    height: max-content;
    font-weight: lighter;
    display: flex;
    margin-bottom: 2px;
    cursor: pointer;
    width: max-content;
    border: var(--primary-color) 1px solid;
    padding: 12px 16px;
    min-width: min-content;
}

.task.status-todo, .task.status-in_progress {
    opacity: .6;
    background-color: #ffffff2c;
    border: none;
}

.new-project-card {
    background-color: var(--background-color);
    padding: 16px;
}

.new-project-form input {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.new-project-form #name {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin-bottom: 8px;
    max-width: 100%;
}

.new-project-form #short_name {
    font-size: var(--id-font-size);
    font-weight: var(--id-font-weight);
    color: var(--secondary-color);
    margin-bottom: 12px;
    max-width: 100%;
}

.new-project-form #description, .new-project-form #goals {
    margin-bottom: 12px;
    max-width: 100%;
}

.new-project-form #description textarea, .new-project-form #goals textarea {
    background-color: transparent;
    font-size: var(--id-font-size);
    font-weight: var(--id-font-weight);
    color: var(--primary-color);
    border: var(--secondary-color) 1px solid;
    outline: none;
    margin-top: 5px;
    resize: vertical;
    padding: 12px;
    max-width: 100%;
}

.new-project-form #submit {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 8px;
}

.new-project-card .hint {
    color: var(--secondary-color);
    font-size: .8rem;
}