<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <div class="projects">
        {% for project in projects %}
            <div class="project">
                <h2>{{ project.name }}</h2>
                <div class="tasks">
                    {% for task in project.tasks %}
                        <div class="task status-{{ task.status.value }}" id="task-{{ task.id }}">
                            <span class="material-symbols-sharp notranslate no-select">
                                square
                            </span>
                            <h3>{{ task.title }}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>