<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check — Управление привычками</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
</head>
<body>
    <div class="cont">
        <h1>Управление привычками</h1>
        <div class="button full-width" id="create-block">
            <p class="block-text">+ Создать</p>
            <div class="open-block">
                <input type="text" placeholder="Название привычки">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
</body>
</html>