<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check — Управление привычками</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
</head>
<body>
    <div class="cont">
        <h1>Управление привычками</h1>
        <div class="habits">
            {% for habit_form in habits %}
                <form action="{{ url_for('manage') }}" method="post">
                    {{ habit_form.hidden_tag() }}
                    {{ habit_form.name() }}
                    {{ habit_form.delete() }}
                    {{ habit_form.submit() }}
                </form>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
</body>
</html>